{% extends 'base.html' %}
{% block title %}
Crear empleado
{% endblock title %}
{%block content%}
{%include 'includes/header.html'%}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Crear empleado</h1>
        <form class="cell grid-x grid-margin-x" method="post"
        enctype="multipart/form-data">{% csrf_token %}
            <div class="cell medium-6">
                <label>Nombres:
                    {{form.first_name}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Apellidos:
                    {{form.last_name}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Trabajo:
                    {{form.job}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Area:
                    {{form.departamento}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Habilidades extra:
                    {{form.habilidades}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Avatar:
                    {{form.avatar}}
                </label>
            </div>
            <div class="cell">
                <button type="submit" class="submit success button">Crear</button>
            </div>
        </form>
    </div>    
</div>
{%endblock content%}

