{% extends 'base.html' %}
{% block title %}
Registrar departamento
{% endblock title %}
{%block content%}
{%include 'includes/header.html'%}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar nuevo departamento</h1>
        <form class="cell callout grid-x grid-margin-x" method="post" >{% csrf_token %}
            <div class="cell medium-6">
                <label>Nombres:
                    {{form.nombre}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Apellidos:
                    {{form.apellidos}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Departamento:
                    {{form.departamento}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Dep. abreviatura:
                    {{form.shorname}}
                </label>
            </div>
            <div class="cell">
                <button type="submit" class="submit success button">Crear Departamento</button>
            </div>
        </form>
    </div>
</div>


{%endblock content%}